{
  "extends": ["react-app", "plugin:cypress/recommended"],
  "plugins": ["cypress"],
  "env": {
    "cypress/globals": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "no-unused-expressions": 0
  }
}